.navigation {
    font-size: 20px;
}

.navigation__list {
    padding: 0 30px;
}

.navigation__listItem {
    list-style: none;
    margin: 15px 0;
}

.navigation__link {
    background-color: rgba(72, 196, 196, 0.699);
    color: white;
    text-decoration: none;
    padding: 5px 7px;
    border: 1px solid;
}

.navigation__link:focus {
    outline: 3px solid currentColor;
}

.navigation__link:hover {
    color: black;
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link:active {
    color: rgb(72, 196, 196);
}