.section__header {
    color: rgb(10, 65, 82);
    font-style: inherit;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}

.section__header--aboutMe {
    margin-top: 25px;
}

.section__paragraph {
    background-color: #4ac4c40c;
    padding: 10px 15px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px outset currentColor;
    border-radius: 30px 15px;
    box-shadow: 20px -15px 32px -18px rgba(74, 196, 193, 0.64);
    font-size: 16px;
}

.section__image {
    width: 100%;
    max-width: 300px;
    border-width: 6px 5px;
    border-style: dotted;
    border-color: black rgb(44, 113, 134);
    border-radius: 10%;
    margin-top: 30px;
}

.section__paragraph--imageCaption {
    font-size: 12px;
    background-color: rgb(218, 211, 211);
    border-style: none;
    box-shadow: none;
}

.section__span {
    color: rgb(44, 113, 134);
}

.section__list {
    padding: 0 30px;
}

.section__musicItem {
    list-style: circle;
    list-style-position: inside;
    margin: 15px 0;
}

.section__link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 7px;
    border: 1px solid rgb(72, 196, 196);
}

.section__link:focus {
    outline: 3px solid currentColor;
}

.section__link:hover {
    color: black;
    border: 1px solid;
    outline: none;
}